include README.md
include CHANGELOG.md
include LICENSE
include tailtray.desktop
include tailtray.service
include tailtray.svg
include tailtray.1
include requirements.txt
include requirements-dev.txt
include PKGBUILD
include install.sh
include pyproject.toml
recursive-include docs *.md
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude *.log